
@{
    ViewData["Title"] = "Error";
    Layout = null; 
}

<h1 class="text-danger">错误.</h1>
<h2 class="text-danger">请求的资源有误.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

