@{
    ViewData["Title"] = "关于";
}
<div class="layui-col-md12" style="top:20%;position:sticky">
    <div class="layui-card">
        <div class="layui-card-header">关于</div>
        <div class="layui-card-body">
            <div>
                业务爱好者，初次做网站，发现自己要学的很多
                <br />借用的燕十三的前端模板，非常感谢，才刚搭出架子。
                后端Asp.Net Core,ORM没用EF,用的Dapper,数据库是mysql5.7。
                <br />
                以前没用过mysql,用了下感觉mysql的分页比mssql的简单些，当然这只是表面的看法。
                <br />
            </div>
        </div>
    </div>
</div>