@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link href="~/css/Loading.css" rel="stylesheet" />
    <link href="~/layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/index_style.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.min.css" rel="stylesheet" type="text/css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#modal,.loader').remove();
            }, 500);
        });
    </script>
</head>
<body>
    <div class="modal" id="modal">
        <div class="loader"></div>
    </div>
    <div id="menu" class="hover_animation menu_open" data-mark="false">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <div id="navgation" class="navgation navgation_close">
        <ul class="point">
            <li><a href="/home/index">首页</a></li>
            <li><a href="/strawman/blog">博客</a></li>
            <li><a href="#">留言</a></li>
        </ul>
        <div class="logo"><a>稻草人</a></div>
    </div>
    <div id="section1" class="section">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>稻草人</h1>
                    <p>何必硬撑，你又不是伞</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="/strawman/blog">Enter</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("HomeSection")
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="/strawman/about">关于</a></li>
                                    <li class="wow fadeInRight"><a href="#">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">先搭个架子</h1>
                            <p class="wow fadeInRight">
                                初次上手这个，真心慌的一笔。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>稻草人</h2>
                            </div>
                            <p>何必硬撑，你又不是伞</p>
                            <div class="button">
                                <a href="/strawman/about" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="/strawman/blog"><i class="fa fa-book"></i>博文</a></li>
                                <li class="active"><a href="#"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="#"><i class="fa fa-share"></i>资源</a></li>
                                <li class="active"><a href="#"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="#"><i class="fa fa-files-o"></i>归档</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 甘肃省酒泉市肃州区</li>
                                <li><i class="fa fa-qq"></i>QQ: 124576712 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 124576712@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <p>Copyright &copy; @DateTime.Now.Year-@DateTime.Now.Year 稻草人 All Rights Reserved </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/layui/layui.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>