@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}
<div style="position:fixed;top:70%;left:45%;color:white;">
    <h1 class="text-danger">错误.</h1>
    <h2 class="text-danger">请求的资源有误.</h2>

    @if (Model.ShowRequestId)
    {
        <p >
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
</div>
<div>
    <img style="height:100%;width:100%;" src="~/images/error.jpg" />
</div>
